<div class="card">
    <div class="card-body">
        <h1>Acerca de Vacunassist App</h1>
        <p>El producto es un sistema de información para entornos web, que de forma ágil e
intuitiva permitirá a los clientes administrar las operaciones relacionadas con la solicitud y
otorgamiento de turnos para vacunas.
El producto permitirá a los usuarios autenticarse y pedir un turno para vacunarse
en la sede más cercana, además tendrá la capacidad de notificar, al mail registrado por el
paciente, la hora, fecha y sede correspondiente al turno que se le ha asignado. También
brindará a los usuarios la opción de cancelar o reprogramar los turnos que sean
necesarios.
El sistema tendrá la capacidad de sugerir, a los administradores del vacunatorio,
las fechas que mejor se adapten a la prioridad del paciente solicitante del turno, y les
dará la opción de seleccionar la fecha que crean más conveniente y la opción de notificar
el turno por mail.
Contará con la capacidad de registrar los datos de las vacunas aplicadas y de
visualizar los reportes realizados.</p>
    </div>
</div>