<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quasi ratione sunt et nemo! Expedita voluptate dolore exercitationem, perferendis cum nisi, laborum enim reprehenderit hic corporis ipsa repellendus voluptatem dignissimos!</p>
    </div>
</div>