<div class="jumbotron mt-4">
    <h1 class="display-4">Vacunassist App 2022 - Demo 1 </h1>
    <p class="lead">Developed by PMP Software.</p>
    <hr class="my-4">
    <p>Producto independiente a ser utilizado en las tres sedes del vacunatorio. El
sistema correrá en paralelo, sin interacción con los sistemas de consulta de historias
clínicas y stock de vacunas.</p>
    <a href="http://facebook.com" class="btn btn-primary btn-lg">probando</a>
</div>