<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs and mongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores nemo corporis cupiditate eius est obcaecati inventore nobis nam explicabo beatae accusantium cumque, necessitatibus odio ipsum fugiat exercitationem sed blanditiis. Autem.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nulla quaerat vero. Et illum at sunt perferendis incidunt repudiandae quaerat laborum culpa maxime voluptatum! Eum recusandae saepe ipsum enim veniam.</p>
    <a href="http://facebook.com" class="btn btn-primary btn-lg">probando</a>
</div>