<h2>
    <center>Agregar vacuna</center>
</h2>
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nueva vacuna</h3>
        </div>
        <div class="card-body">
            <form action="/vaccines/new-vaccines" method="POST">
                <div class="form group">
                    <select name="name" class="">
                        <option>Covid: dosis 1</option>
                        <option>Covid: dosis 2</option>
                        <option>Gripe</option>
                        <option>Fiebre Amarilla</option>
                    </select>
                </div>
                <div class="card-header">
                    <h3>Fecha de colocación</h3>
                </div>
                <div class="form-group">
                    <input type="date" id="datefield" name="date" />
                </div>
                {{#if isAdmin}}
                    <input type="text" name="user" placeholder="Escriba el DNI del usuario" />
                {{/if}}
                <div class="form group">
                    <button class="btn btn btn-primary block" type="submit">Cargar vacuna</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
        dd = '0' + dd;
        }

        if (mm < 10) {
        mm = '0' + mm;
        } 
            
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datefield").setAttribute("max", today);
    </script>
</div>