<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>Solcitar turno</h3>
    </div>
    <div class="card-body">
        <form action="/turns/solicitar" method="POST">
        <div class="form group">
            <select name="vacuna" class="">

                <option>Covid</option>

                <option>Fiebre Amarilla</option>

                <option>Rubéola</option>

            </select>
        </div>
        <div class="form group">
            <button class="btn btn btn-primary block" type="submit">Solicitar</button>
        </div>
        </form>
    </div>
</div>
</div>