<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Cambiar Contraseña</h3>
    </div>
    <div class="card-body">
      <form action="/users/preEdit-pass/{{user._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">

        <div class="form-group">
          <p>Contraseña Actual</p>
          <input type="password" name="contra" class="form-control" {{user.contra}}></input>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>