<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Validar Identidad
      </div>
      <div class="card-body">
        <form action="/users/validated" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_method" value="PUT">
          <div class="form-group">
            <input type="file" name="fname" id="imgId" ></input>
          </div>
          <button class="btn btn-primary btn-block" type="submit">
            Validar identidad
          </button>
      </div>
    </div>
  </div>
</div>